<div class="employee-details">
    <h4>Employee Profile</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-4">First Name</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model="vm.employee.firstName"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Last Name</label>
            <div class="col-lg-4">
                <input class="form-control" ng-model="vm.employee.lastName"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4">Department</label>
            <div class="col-lg-4">
                <select class="form-control" type="number" ng-model="vm.employee.department">
                    <option value="accounting">Accounting</option>
                    <option value="finance">Finance</option>
                    <option value="marketing">Marketing</option>
                </select> 
            </div>
        </div>
    </form>
    <button class="btn btn-block btn-back" onclick="history.back()">Back</button>
</div>